nbproject/
.idea
.project
Thumbs.db
.DS_Store
.buildpath
.vscode
ui
composer.lock

test.php
core/config/common.config.php
.remote-sync.json
sftp.json
core2019-light
core2019-dark
cache.tar.gz
DB_backup.sql
backup/*.tar.gz
.tmb
test/
vendor/
mobile/custom/
desktop/custom/

plugins/

log/*
!log/.htaccess

tmp/*
!tmp/.htaccess

!.htaccess

